@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  background: rgb(180, 58, 58);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    324deg,
    rgba(180, 58, 58, 0.548039198589592) 0%,
    rgba(29, 62, 253, 0.4471988624551383) 29%,
    rgba(37, 145, 253, 0.9121848568528974) 54%,
    rgba(119, 50, 253, 1) 67%,
    rgba(252, 69, 69, 1) 100%
  );
}

header {
  text-align: center;
}

footer {
  margin-bottom: auto;
}

h1 {
  font-family: "Syne Mono", monospace;
}

h2 {
  font-family: "Cutive Mono", monospace;
}

h3 {
  font-family: "Space Mono", monospace;
}

p {
  font-family: "Azeret Mono", monospace;
}

a {
  text-decoration: none;
  font-family: "Cousine", monospace;
  color: white;
}

li {
  list-style: none;
}

title {
  font-family: "Space Mono", monospace;
}

.loginForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20rem;
  width: 50%;
  background: rgba(255, 255, 255, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.loginInput {
  outline: none;
}

button {
  background: rgba(255, 255, 255, 0.71);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.loginSubmit {
  height: 50px;
}

.logOutbtn {
  margin-left: auto;
}

button:hover {
  color: white;
  background: rgb(180, 58, 58);
  background: linear-gradient(
    324deg,
    rgba(180, 58, 58, 0.548039198589592) 0%,
    rgba(29, 62, 253, 0.4471988624551383) 29%,
    rgba(37, 145, 253, 0.9121848568528974) 54%,
    rgba(119, 50, 253, 1) 67%,
    rgba(252, 69, 69, 1) 100%
  );
}

nav,
aside {
  display: flex;
  justify-content: space-evenly;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 1);
}

aside > input {
  width: 90%;
  border-radius: 16px;
}

aside > select {
  color: red;
  width: 15%;
  border-radius: 16px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.loginPage {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.loginPageAssets {
  width: 25%;
}

.homeHeading {
  text-align: center;
  font-size: 4rem;
}
.searchbar {
  margin-top: 10px;
  height: 35px;
}
.searchbarInput {
  outline: none;
}

.card {
  background: linear-gradient(145deg, #624daf, #a481ff);
  border-radius: 1%;
  box-shadow: 30.03px 30.03px 100px #7159ca, -30.03px -30.03px 100px #9575ff;
}
