.container {
  padding: 23px;
}

h1 {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkblue;
}

.nameFonts {
  color: white;
}
.accordion-item {
  border-color: gray;
}
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #0d6efd;
  color: white;
  margin-top: auto;
}

.ContactUs,
.PoweredBY,
.EmailUs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footerIcons {
  text-align: center;
  font-size: 3rem;
  padding-right: 2rem;
}
.groupfooter {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.footerHeadings {
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
